/* Main Styles for PAM */
/* Adding the Raleway font */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

html {
  font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Main Styles */
main {
  flex: 1;
}

/* TaskBoard Styles */
header {
  /* border: 1px grey solid; */
  margin-top: 2rem;
}

.input-field .prefix.right {
  right: 0;
}

.prefix:hover {
  cursor: pointer;
}

.new-task-title {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.new-task-description {
  max-width: 50%;
  margin: 0 auto;
}

.card-content h6 {
	height: 3rem;
	overflow: hidden;
}

.card-description {
	margin-top: 0.8rem;
	height: 3rem;
	overflow: hidden;
}

/* Footer */
.footer-area {
  background-color: teal;
}

.projectName {
  display: none;
}

/* Media Queries */
@media ()