/* Main Styles for PAM */
/* Adding the Raleway font */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap');

html {
	font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; overflow-y: scroll;
	
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Main Styles */
main {
  flex: 1;
}

/* TaskBoard Styles */
header {
  /* border: 1px grey solid; */
  margin-top: 2rem;
}

.nav-wrapper {
	margin: 0 3rem;
}

.db-badge {
	display: inline-block;
	position: relative;
	top: -3px;
	left: -6px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	/* background-color: #FF3081;
	background-color: g; */
	/* z-index: 1; */
}

.notification-icon--fixed {
  position: relative;
  color: #fff;
  background-color: #FF3081;
  border-radius: 50%;
  font-family: "Roboto";
  
  /* Alignment */
  line-height: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  /* Adjust as required: */
  padding: 10px;
}

/* Height = width */
.notification-icon--fixed::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


/* Expandable Search Form */
/* TODO: Add from https://codepen.io/todar/pen/XYgwmg */


.input-field .prefix.right {
  right: 0;
}

.prefix:hover {
  cursor: pointer;
}

.new-task-title {
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.new-task-description {
  max-width: 50%;
  margin: 0 auto;
}

.task-card {
	transition: display 0s, opacity 0.5s linear;
}

#tasks-list-collection {
	font-size: 0.8rem;
}

/* .card:hover {
	display: absolute;
	min-width: 500px;
	min-height: 300px;
	z-index: 2;
	margin-bottom: -3px;
} */

/* #tasks-list-collection .task-card:first-child .card {
	height: auto;
	width: auto;
	min-height: 300px;
	min-width: 500px;
	z-index: 5;
	opacity: 0.9;
	display: relative;
	left: -100px;
	overflow: hidden;
} */

.card-content h6 {
	height: 3rem;
	overflow: hidden;
}

.card-description {
	margin-top: 0.8rem;
	height: 3rem;
	overflow: hidden;
}

.delete-task-form {
	display: inline-block;
}

.task-modal-title {
	padding: 5px;
}

.modal-task-delete {
	margin-left: 15px;
}

/* Footer */
.footer-area {
  background-color: teal;
}

.projectName {
  display: none;
}

/* Media Queries */


/* html { margin-left: calc(100vw - 100%); } */

nav form {
  position: relative;
  height: 100%;
  background: inherit;
}
.nav-wrapper{
  background: inherit;
  
}

input.search-field {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  border: 0;
  border-radius: 5px;
  height: 36px;
  padding: 8px 8px 8px 60px;
  width: 200px;
  background: #f7f7f7;
  transition: background 0.5s, width .5s;
}
input.search-field:hover {
  background: #ebebeb;
}
.searchbox {
  position: relative;
}

input.search-field:focus {
  outline: none;
  width: 500px;
  color: #212121;
}

input.search-field:focus:hover {
  background: #f7f7f7;
}

.search-icon {
  position: absolute;
  top: 0;
  padding-left: 20px;
  color: rgba(0, 0, 0, 0.54);
}

@media only screen and (max-width: 600px) {
  
  nav form {
/*     left: calc(90vw - 100%); */
  }
  
  /* ::placeholder {
    color: transparent;
  } */

	/* .hidden-card {
		display: hidden !important;
	} */
	

  input.search-field {
    width: 1px;
    margin-right: 0px;
    padding: 8px 25px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .search-icon {
    top: 0;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  input.search-field:focus {
    margin-right: 0px;
    width: 100vw;
    padding: 8px 8px 8px 50px;
  }

  input.search-field:focus ~ .search-popup {
    width: 100vw;
  }

  nav .nav-wrapper {
    margin-right: 0px;
  }
}
